<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aco.my.restaurant.user.mapper.APriceMapper">
  <resultMap id="BaseResultMap" type="com.aco.my.restaurant.user.dto.PriceDto">
    <!--@mbg.generated-->
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="ptime" jdbcType="DATE" property="ptime" />
    <result column="price" jdbcType="FLOAT" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pid, gid, ptime, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from a_price
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from a_price
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="pid" keyProperty="pid" parameterType="com.my.restaurant.domain.po.APrice" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into a_price (gid, ptime, price)
    values (#{gid,jdbcType=INTEGER}, #{ptime,jdbcType=DATE}, #{price,jdbcType=FLOAT})
  </insert>
  <insert id="insertSelective" keyColumn="pid" keyProperty="pid" parameterType="com.my.restaurant.domain.po.APrice" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into a_price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        gid,
      </if>
      <if test="ptime != null">
        ptime,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="ptime != null">
        #{ptime,jdbcType=DATE},
      </if>
      <if test="price != null">
        #{price,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.restaurant.domain.po.APrice">
    <!--@mbg.generated-->
    update a_price
    <set>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="ptime != null">
        ptime = #{ptime,jdbcType=DATE},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=FLOAT},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.restaurant.domain.po.APrice">
    <!--@mbg.generated-->
    update a_price
    set gid = #{gid,jdbcType=INTEGER},
      ptime = #{ptime,jdbcType=DATE},
      price = #{price,jdbcType=FLOAT}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>