<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>就餐中</title>
    <script src="../static/js/jquery/jquery-1.8.3.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var searchUrl = window.location.href;
        var qs = searchUrl.split("&");
        var json = "{";
        if (qs) {
            for (var i = 1; i < qs.length; i++) {
                //得到键
                var j = qs[i].indexOf("=");
                var fin = qs[i].substring(0, j);//截取键
                //alert(fin);
                json += "\"" + fin + "\":";
                //得到值
                var searchData = qs[i].split("=");
                var searchText = decodeURI(searchData[1]); //decodeURI解码
                // alert(searchText);  //将搜索的数据显示在搜索页面的搜索框中
                json += "\"" + searchText + "\"";
                if (i < qs.length - 1)
                    json += ",";
                if (i == qs.length - 1)
                    json += "}"
            }//string转化为json
        }
        var dids;
        var roomName;
        function name() {//必须在<body>标签中加οnlοad="name()"属性，页面加载完再执行该js
            var jsonobj = eval("(" + json + ")");//string转换 json对象
             dids= jsonobj.dids;//获取值
            roomName=jsonobj.roomName;
            $(function () {
                $("#head").html("<h2 STYLE='color:red'>"+roomName+"&nbsp;&nbsp;&nbsp;<span class='did'>"+dids+"</span>号餐桌：就餐中。。。。。</h2>");
            });
        }

        $(function () {
            $(document).on("click","#btn",function () {
                $.ajax({
                    url: 'http://localhost:8080/order//desk/resetStatue',
                    data: {dids:dids},
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                       alert("完成就餐");
                        window.location.href = " http://localhost:8080/ui/views/selectsits.html";
                    }
                });
            });
        });


    </script>
</head>
<body onload="name()">
<div>
    <div id="head"></div>
    <input type="button" id="btn" value="完成就餐"/>
</div>
</body>
</html>