<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>后台餐厅管理系统</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../static/js/bootstrap/img/goods/left.gif);
}
-->
</style>
<link href="../static/js/bootstrap/css/css.css" rel="stylesheet" type="text/css" />
</head>
<SCRIPT language=JavaScript>
function tupian(idt){
    var nametu="xiaotu"+idt;
    var tp = document.getElementById(nametu);
    tp.src="../static/js/bootstrap/img/goods/ico05.gif";//图片ico04为白色的正方形
	
	for(var i=1;i<30;i++)
	{
	  
	  var nametu2="xiaotu"+i;
	  if(i!=idt*1)
	  {
	    var tp2=document.getElementById('xiaotu'+i);
		if(tp2!=undefined)
	    {tp2.src="../static/js/bootstrap/img/goods/ico06.gif";}//图片ico06为蓝色的正方形
	  }
	}
}

function list(idstr){
	var name1="subtree"+idstr;
	var name2="img"+idstr;
	var objectobj=document.all(name1);
	var imgobj=document.all(name2);
	
	
	//alert(imgobj);
	
	if(objectobj.style.display=="none"){
		for(i=1;i<10;i++){
			var name3="img"+i;
			var name="subtree"+i;
			var o=document.all(name);
			if(o!=undefined){
				o.style.display="none";
				var image=document.all(name3);
				//alert(image);
				image.src="../static/js/bootstrap/img/goods/ico04.gif";
			}
		}
		objectobj.style.display="";
		imgobj.src="../static/js/bootstrap/img/goods/ico03.gif";
	}
	else{
		objectobj.style.display="none";
		imgobj.src="../static/js/bootstrap/img/goods/ico04.gif";
	}
}

</SCRIPT>

<body>
<table width="198" border="0" cellpadding="0" cellspacing="0" class="left-table01">
  <tr>
    <TD>
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		  <tr>
			<td width="207" height="55" background="../static/js/bootstrap/img/goods/nav01.gif">
				<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
				  <tr>
					<td width="25%" rowspan="2"><img src="../static/js/bootstrap/img/goods/ico02.gif" width="35" height="35" /></td>
					<td width="75%" height="22" class="left-font01">您好，<span class="left-font02">king</span></td>
				  </tr>
				  <tr>
					<td height="22" class="left-font01">
						[&nbsp;<a href="index.html" target="_top" class="left-font01">退出</a>&nbsp;]</td>
				  </tr>
				</table>
			</td>
		  </tr>
		</table>

		<!--  菜品管理开始    -->
		<TABLE width="100%" border="0" cellpadding="0" cellspacing="0" class="left-table03">
          <tr>
            <td height="29">
				<table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td width="8%"><img name="img8" id="img8" src="../static/js/bootstrap/img/goods/ico04.gif" width="8" height="11" /></td>
						<td width="92%">
								<a href="mainfra.html" target="mainFrame" class="left-font03" onClick="list('8');" >菜品管理</a></td>
					</tr>
				</table>
			</td>
          </tr>		  
        </TABLE>
		<table id="subtree8" style="DISPLAY: none" width="80%" border="0" align="center" cellpadding="0" 
				cellspacing="0" class="left-table02">
			<tr>
			  <td width="9%" height="20" ><img id="xiaotu20" src="../static/js/bootstrap/img/goods/ico06.gif" width="8" height="12" /></td>
			  <td width="91%"><a href="goodslist.html" target="mainFrame" class="left-font03" onClick="tupian('20');">菜品列表</a></td>
			</tr>
			<tr>
				<td width="9%" height="21" ><img id="xiaotu21" src="../static/js/bootstrap/img/goods/ico06.gif" width="8" height="12" /></td>
				<td width="91%"><a href="goodsadd.html" target="mainFrame" class="left-font03" onClick="tupian('21');">添加菜品</a></td>
			</tr>
      </table>
		<!--  菜品管理结束    -->

		<!--  员工管理开始    -->
		<TABLE width="100%" border="0" cellpadding="0" cellspacing="0" class="left-table03">
			<tr>
				<td height="29">
					<table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td width="8%"><img name="img8" id="img9" src="../static/js/bootstrap/img/goods/ico04.gif" width="8" height="11" /></td>
							<td width="92%">
								<a href="mainfra.html" target="mainFrame" class="left-font03" onClick="list('9');" >员工管理</a></td>
						</tr>
					</table>
				</td>
			</tr>
		</TABLE>
		<table id="subtree9" style="DISPLAY: none" width="80%" border="0" align="center" cellpadding="0"
			   cellspacing="0" class="left-table02">
			<tr>
				<td width="9%" height="20" ><img id="xiaotu22" src="../static/js/bootstrap/img/goods/ico06.gif" width="8" height="12" /></td>
				<td width="91%"><a href="admin/listyuangong.html" target="mainFrame" class="left-font03" onClick="tupian('22');">员工列表</a></td>
			</tr>
			<tr>
				<td width="9%" height="21" ><img id="xiaotu23" src="../static/js/bootstrap/img/goods/ico06.gif" width="8" height="12" /></td>
				<td width="91%"><a href="admin/yuangong.htm" target="mainFrame" class="left-font03" onClick="tupian('23');">添加员工</a></td>
			</tr>
		</table>
		<!--  员工管理结束    -->

		<!--  座位管理开始    -->
		<TABLE width="100%" border="0" cellpadding="0" cellspacing="0" class="left-table03">
			<tr>
				<td height="29">
					<table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td width="8%"><img name="img8" id="img10" src="../static/js/bootstrap/img/goods/ico04.gif" width="8" height="11" /></td>
							<td width="92%">
								<a href="mainfra.html" target="mainFrame" class="left-font03" onClick="list('10');" >座位管理</a></td>
						</tr>
					</table>
				</td>
			</tr>
		</TABLE>
		<table id="subtree10" style="DISPLAY: none" width="80%" border="0" align="center" cellpadding="0"
			   cellspacing="0" class="left-table02">
			<tr>
				<td width="9%" height="20" ><img id="xiaotu24" src="../static/js/bootstrap/img/goods/ico06.gif" width="8" height="12" /></td>
				<td width="91%"><a href="admin/desk1.html" target="mainFrame" class="left-font03" onClick="tupian('24');">座位列表</a></td>
			</tr>
			<tr>
				<td width="9%" height="21" ><img id="xiaotu25" src="../static/js/bootstrap/img/goods/ico06.gif" width="8" height="12" /></td>
				<td width="91%"><a href="admin/insert1.html" target="mainFrame" class="left-font03" onClick="tupian('25');">添加座位</a></td>
			</tr>
		</table>
		<!--  座位管理结束    -->

		<!--  订单管理开始    -->
		<TABLE width="100%" border="0" cellpadding="0" cellspacing="0" class="left-table03">
			<tr>
				<td height="29">
					<table width="85%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td width="8%"><img name="img8" id="img11" src="../static/js/bootstrap/img/goods/ico04.gif" width="8" height="11" /></td>
							<td width="92%">
								<a href="mainfra.html" target="mainFrame" class="left-font03" onClick="list('11');" >订单管理</a></td>
						</tr>
					</table>
				</td>
			</tr>
		</TABLE>
		<table id="subtree11" style="DISPLAY: none" width="80%" border="0" align="center" cellpadding="0"
			   cellspacing="0" class="left-table02">
			<tr>
				<td width="9%" height="20" ><img id="xiaotu26" src="../static/js/bootstrap/img/goods/ico06.gif" width="8" height="12" /></td>
				<td width="91%"><a href="admin/order.html" target="mainFrame" class="left-font03" onClick="tupian('26');">订单列表</a></td>
			</tr>
		</table>
		<!--  订单管理结束    -->
	  </TD>
  </tr>
  
</table>
</body>
</html>
