<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线选座</title>

    <script src="../static/js/bootstrap/js/jquery/jquery-1.8.3.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            //全局变量
            var roomName = new String();

            $.ajax({
                url: 'http://localhost:8080/order//room/findRoomType',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.data) {
                        $.each(data.data, function (i, ele) {
                            if (ele.rtype == 0) {
                                $("#hall").html("<h3 class='rtype'>大厅<span style='display: none'>" + ele.rtype + "</span></h3>");
                            } else {
                                $("#Balcony").html("<h3 class='rtype'>包厢<span style='display: none'>" + ele.rtype + "</span></h3>");
                            }
                        });

                    }
                }
            });

            //点击包厢/大厅查找包厢大厅
            $(document).on("click", ".rtype", function () {
                var rtype = $(this).children("span:eq(0)").text();
                $(".rtype").removeClass("clickRoom");
                $(this).addClass("clickRoom");
                $("#sits").html("<h1>XXX餐厅欢迎你</h1>")
                findRoomsByType(rtype);
            });

            function findRoomsByType(rtype) {
                $.ajax({
                    url: 'http://localhost:8080/order//room/findRooms',
                    data: {rtype: rtype},
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        if (data.data) {
                            var html = [];
                            $.each(data.data, function (i, ele) {
                                var str = " <li class='room'><span>" + ele.rname + "</span><span STYLE='display: none' >" + ele.rid + "</span> </li>";
                                html.push(str);
                            });
                            $("#rooms").html(html);
                        }
                    }
                });
            }

            //查找桌子
            function findRoomDesk(rid) {
                $.ajax({
                    url: 'http://localhost:8080/order//desk/findRoomDesk',
                    data: {rid: rid},
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        if (data.data) {
                            var html = [];
                            $.each(data.data, function (i, ele) {
                                var str = new String();
                                if (ele.dstatue == 0) {
                                    str = "<li class='desk desk0'> <input type='checkbox' name='desk' value='" + ele.did + "' />" + ele.did + "号桌&nbsp;&nbsp;&nbsp;&nbsp;" + ele.dvolum + "人桌</input><br>";
                                } else {
                                    str = "<li class='desk desk1' >" + ele.did + "号桌&nbsp;&nbsp;&nbsp;&nbsp;" + ele.dvolum + "人桌&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;占用中....<br>";
                                }
                                html.push(str);
                            });
                            $("#sits").html(html);
                        }
                    }
                });
            }

            //查看各大厅或包厢的桌子
            $(document).on("click", ".room", function () {
                roomName = $(this).children("span:eq(0)").text();
                $(".room").removeClass("clickRoom");
                $(this).addClass("clickRoom");
                var rid = parseInt($(this).children("span:eq(1)").text());
                findRoomDesk(rid);
            });

            //跳转菜单
            $(document).on("click", "#btn", function () {
                var deskInfo = "当前所选：" + roomName + "  ";
                var dids = [];
                $("input[name=desk]:checked").each(function () {
                    dids.push($(this).val());
                    deskInfo += $(this).val() + "号桌   "
                });
                if (dids.length == 0) {
                    alert("请选择桌子");
                    return;
                } else {
                    var searchUrl = encodeURI("http://localhost:8080/ui/views/menus.html?&deskInfo="
                        + deskInfo + "&dids=" + dids + "&roomName=" + roomName);
                    window.location.href = searchUrl;
                }
            });

        });
    </script>

    <!--    样式-->
    <style type="text/css">
        .desk0 {
            background-color: skyblue;
        }

        .desk1 {
            background-color: red;
        }

        .clickRoom {
            background-color: grey;
        }

        .room {
            padding-top: 3px;
        }

        .desk {
            margin-top: 10px;
            margin-right: 50px;
        }
    </style>
</head>
<body>
<div>
    <div STYLE="width: 100%">
        <div id="hall" style="height: 50px;width:100px;float: left"></div>

        <div id="Balcony" style="height: 50px;width:100px;float: left"></div>
    </div>
    <div>
        <div style="width: 200px ;height: 300px;float: left">
            <ul id="rooms" style="list-style-type:none">
            </ul>
        </div>
        <div style="width: 400px ;height: 300px;float: left;background: grey">
            <ul id="sits" style="list-style-type:none">
                <h1>XXX餐厅欢迎你</h1>
            </ul>
        </div>
    </div>
    <input type="button" value="确定" id="btn" style="margin-left: -50px; margin-top: 310px">

</div>

</body>
</html>