<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.aco.my.restaurant.admin.order.dao" />
        <option name="javaMapperPath" value="D:\ssm_my_restaurant_master\ssm_my_restaurant_api\ssm_my_restaurant_admin\ssm_my_restaurant_admin_order\src\main\java\com\aco\my\restaurant\admin\order\dao" />
        <option name="javaModelPackage" value="com.my.restaurant.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/ssm_my_restaurant_domain/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="ssm_my_restaurant_domain" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="ssm_my_restaurant_commons">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.aco.my.restaurant.admin.desk.dao" />
                  <option name="javaMapperPath" value="D:\ssm_my_restaurant_master\ssm_my_restaurant_api\ssm_my_restaurant_admin\ssm_my_restaurant_admin_desk\src\main\java\com\aco\my\restaurant\admin\desk\dao" />
                  <option name="javaModelPacakge" value="com.my.restaurant.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/ssm_my_restaurant_commons/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/ssm_my_restaurant_commons/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/ssm_my_restaurant_commons/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="D:\ssm_my_restaurant_master\ssm_my_restaurant_api\ssm_my_restaurant_admin\ssm_my_restaurant_admin_desk\src\main\resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="ssm_my_restaurant_domain">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.aco.my.restaurant.admin.order.dao" />
                  <option name="javaMapperPath" value="D:\ssm_my_restaurant_master\ssm_my_restaurant_api\ssm_my_restaurant_admin\ssm_my_restaurant_admin_order\src\main\java\com\aco\my\restaurant\admin\order\dao" />
                  <option name="javaModelPacakge" value="com.my.restaurant.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/ssm_my_restaurant_domain/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/ssm_my_restaurant_domain/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/ssm_my_restaurant_domain/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="D:\ssm_my_restaurant_master\ssm_my_restaurant_api\ssm_my_restaurant_admin\ssm_my_restaurant_admin_order\src\main\resources\mapper" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="restaurant:a_desk">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="ADesk" />
                  <option name="moduleName" value="ssm_my_restaurant_commons" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="restaurant:a_goods">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="AGoods" />
                  <option name="moduleName" value="ssm_my_restaurant_domain" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="restaurant:a_orderandgoods">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="AOrderandgoods" />
                  <option name="moduleName" value="ssm_my_restaurant_domain" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="restaurant:a_price">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="APrice" />
                  <option name="moduleName" value="ssm_my_restaurant_domain" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="restaurant:a_room">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="ARoom" />
                  <option name="moduleName" value="ssm_my_restaurant_commons" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="restaurant:a_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="uid" />
                  <option name="javaModelName" value="AUser" />
                  <option name="moduleName" value="ssm_my_restaurant_domain" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="D:\ssm_my_restaurant_master\ssm_my_restaurant_api\ssm_my_restaurant_admin\ssm_my_restaurant_admin_order\src\main\resources\mapper" />
      </ProjectProfile>
    </option>
  </component>
</project>