<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
	<title>项目管理系统 by www.mycodes.net</title>
	<script src="/static/js/bootstrap/js/jquery/jquery-1.8.3.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" rev="stylesheet" href="/static/js/bootstrap/css/style.css" type="text/css"
		  media="all"/>
	<script language="JavaScript" type="text/javascript">


		//返回按钮
		function back() {
			window.location.replace("http://localhost:8080/ui/views/admin/listyuangong.html")
		}

		//未知
		function check() {
			document.getElementById("aa").style.display = "";
		}


		//获取部门
		$(function () {
			var sel = document.getElementById('did');
			var str ="";
			$.ajax({
				url:'/admin_staff/staff/department',
				type:'post',
				dataType:'json',
				success:function (data) {
					$.each(data,function (i, ele) {
						str +='<option value="'+ele.did+'">'+ele.dname+'</option>';
					});
					sel.innerHTML=str;

				}
			});
		});


		//获取数值
		$(function () {
			var url = location.search;
			if (url.indexOf("?") != -1) {
				var str = url.substr(5);
			}
			$.ajax({
				url:'/admin_staff/staff/backstaff',
				type:'post',
				dataType:'json',
				data:{sid:str},
				success:function (data) {
				    $.each(data,function (i,ele) {
                        $("#sname").val(ele.sname);
                        $("#ssex").val(ele.ssex);
                        $("#sage").val(ele.sage);
                        $("#phone").val(ele.phone);
                        $("#scardid").val(ele.scardid);
                        $("#time").val(ele.shiredate);
                        $("#static").val(ele.state);
                        // alert(ele.department.did)
                        for (var i=0;i<$("#did option").length;i++){
                            if (ele.department.did==$("#did option").eq(i).val()) {
                                $("#did").val(ele.department.did).attr('selected', true);
                            }
                        }
                        $("#address").val(ele.saddress);
                    })
				}
			})
		})

		//修改员工信息
		function updastaff() {
            var url = location.search;
            if (url.indexOf("?") != -1) {
                var str = url.substr(5);
            }
			var stu ={"sname":$("#sname").val()
				,"ssex":$("#ssex").val()
				,"sage":$("#sage").val()
				,"phone":$("#phone").val()
				,"scardid":$("#scardid").val()
				,"did":$("#did").val()
				,"saddress":$("#address").val()
				,"shiredate":$("#time").val()
				,"state":$("#static").val()
			    ,"sid":str
            };
			$.ajax({
				url:'/admin_staff/staff/updastaff',
				data:{stu:JSON.stringify(stu)},
				type:'post',
				dataType:'json',
				success:function (data) {
					alert($("#sname").val())
				}
			})
		}
		
		
	</script>

</head>

<body class="ContentBody">
<form action="" method="post" enctype="multipart/form-data" name="form" target="sypost">
	<div class="MainDiv">
		<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
			<tr>
				<th class="tablestyle_title">员工信息修改</th>
			</tr>
			<tr>
				<td class="CPanel">

					<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
						<TR>
							<TD width="100%">
								<fieldset style="height:100%;">
									<legend>员工信息</legend>
									<table border="0" cellpadding="2" cellspacing="1" style="width:100%">

										<tr>
											<td nowrap align="right" width="15%">姓名</td>
											<td width="35%"><input name='txt3' type="text" class="text" style="width:154px" id="sname"/></td>
											<td width="16%" align="right" nowrap="nowrap">年龄</td>
											<td width="34%"><input class="text" name='datevalue2' style="width:154px" id="sage"></td>
										</tr>

										<tr>
											<td nowrap="nowrap" align="right">电话号码:</td>
											<td><input class="text" name='datevalue21' style="width:154px" id="phone"/></td>
											<td align="right">员工性别:</td>
											<td><select name="select2" id="ssex">
												<option selected>男</option>
												<option>女</option>
												</select>
											</td>
										</tr>


										<tr>
											<td align="right">居住地址</td>
											<td><input class="text" name='datevalue21' style="width:154px" id="address"/></td>
											<td align="right">身份证号码:</td>
											<td><input class="text" name='datevalue21' style="width:154px" id="scardid"/></td>
										</tr>
										<tr>
											<td align="right">部门:</td>
											<td><select name="select3" id="did">
                                            </select>
											</td>
											<td>
												<input type="text" name='datevalue21' style="width:154px;display: none" id="time"/>
											</td>
										</tr>
										<tr>
											<input type="text" name='datevalue21' style="width:154px;display: none" id="static" />
										</tr>
									</table>
									<br/>
								</fieldset>
							</TD>
						</TR>
					</TABLE>
				</td>
			</tr>


			<TR>
				<TD colspan="2" align="center" height="50px">
					<input type="button" name="Submit" value="保存" class="button" onclick="updastaff()"/>　

					<input type="button" name="Submit2" value="返回" class="button" onclick="back()"/>
				</TD>
			</TR>
		</TABLE>
		</td>
		</tr>
		</table>
	</div>
</form>
</body>
</html>
